<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students Records | LC Academy</title>
</head>
<body>
    <form action="/add-new-subscriber/" method="post">
        <h3>Student Information</h3>
        Name<br><input type="text" name="name"><br>
        Lastname<br><input type="text" name="lastname"><br>
        Email<br><input type="text" name="email"><br>
        Cell<br><input type="text" cell="name"><br>

        <input type="submit" value="submit"><br>
        <h2><a href = "/show-subscribers/">Records</a></h2>

    </form>
</body>
</html>
